*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cm-section-1{
    width: 80%;
    margin: auto;
    text-align: center;
    color: #000;
}
.cm-section-1 h1{
    color: #DB0007;
    font-size: 3rem;
    font-weight: bold;
}
.cm-section-1 p{
    margin:5% 0;
}
.cm-section-1 p:nth-child(3){
    font-size: 0.9rem;
}
.cm-input-feilds form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cm-input-feilds input, select, .cm-categories form>input{
    width: 49%;
    padding: 10px;
    margin-bottom: 2%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.cm-section-3{
    margin: 3% auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.cm-sec3-card{
    width: 15%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 2%;
}
.cm-sec3-card:hover{
    outline: 2px solid #DB0007;
    border: 1px solid transparent;
}
.cm-sec3-card img{
    height: 80px;
    width: 80px;
    object-fit: contain;
    margin-bottom: 5%;
}
.cm-sec3-card h5{
    font-weight: bold;
}
.cm-categories form>input{
    width: 100%;
}
.cm-categories form>h5{
    font-weight: bold;
}
.cm-categories form{
    margin: 6% 0;
}
.imageform{
    width: 50%;
    margin: auto;
    text-align: center;
}
.imageform input{
    border: 3px dashed #FFCC48;
    padding: 5px;
    font-weight: bold;
}
.imageform p,span{
    display: inline-block;
    padding: 2% 0;
    font-size: 0.8rem;
}
.imageform button{
    margin: 5% 0;
    padding: 10px 30px ;
}